<a href="https://colab.research.google.com/github/vitormarx/Book-Recommendation-System/blob/main/Books_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# USER SIMILARITY BASED RECOMMENDER

Development of a user-based machine learning to recommend books that user still don't read but users with similar caracteres already read and liked them.

The used datasets are abled to download on [link](http://www2.informatik.uni-freiburg.de/~cziegler/BX/)

In [1]:
# libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.neighbors import NearestNeighbors

In [2]:
# loading data
avaliacoes = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Recommendation Systems/Datasets/BX-Book-Ratings.csv', encoding='latin', sep=';', error_bad_lines=False)
livros =  pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Recommendation Systems/Datasets/BX-Books.csv', encoding='latin', sep=';', error_bad_lines=False)
usuarios = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Recommendation Systems/Datasets/BX-Users.csv', encoding='latin', sep=';', error_bad_lines=False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## Data Cleaning

In [3]:
usuarios.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [4]:
usuarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [5]:
# cleaning users database
usuarios = usuarios.drop(labels=['Location', 'Age'], axis=1)

In [6]:
livros.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [7]:
livros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [8]:
# cleaning books database
livros = livros.drop(labels=['Year-Of-Publication',	'Publisher',	'Image-URL-S',	'Image-URL-M',	'Image-URL-L'], axis=1)
livros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ISBN         271360 non-null  object
 1   Book-Title   271360 non-null  object
 2   Book-Author  271359 non-null  object
dtypes: object(3)
memory usage: 6.2+ MB

In [9]:
avaliacoes.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

## Pré-Processing

Because of hardware and computational limitations, I reduced the dataframe's lenght the way that it have only users informations that ranked at least 150 books

In [10]:
# reducing the databases's lenght
ids = avaliacoes['User-ID'].value_counts() >= 150
aux = ids[ids].index
avaliacoes = avaliacoes[avaliacoes['User-ID'].isin(aux)]

In [11]:
avaliacoes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 584294 entries, 1456 to 1149637
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   User-ID      584294 non-null  int64
 1   ISBN         584294 non-null  object
 2   Book-Rating  584294 non-null  int64
dtypes: int64(2), object(1)
memory usage: 17.8+ MB

In this part, I merge the informations as: ISBN, Book-Title, Book-Author, User-ID and Book-Rating from users, books and ranking turning it into a unique dataframe. As the model is based on users similarity, only the features mentioned above are necessary o modelo é baseado na semelhança entre usuários, apenas os atributos mencionados acima serão necessários.

In [12]:
# merging cleared databases
livros_avaliacoes = pd.merge(livros, avaliacoes, on='ISBN')
livros_avaliacoes

,ISBN,Book-Title,Book-Author,User-ID,Book-Rating
0,0002005018,Clara Callan,Richard Bruce Wright,11676,8
1,0002005018,Clara Callan,Richard Bruce Wright,85526,0
2,0002005018,Clara Callan,Richard Bruce Wright,96054,0
3,0002005018,Clara Callan,Richard Bruce Wright,177458,0
4,0002005018,Clara Callan,Richard Bruce Wright,263325,6
...,...,...,...,...,...
540794,1582380805,Tropical Rainforests: 230 Species in Full Colo...,"Allen M., Ph.D. Young",275970,0
540795,1845170423,Cocktail Classics,David Biggs,275970,7
540796,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,276680,0
540797,0192126040,Republic (World's Classics),Plato,276680,0
540798,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,276680,0

In [13]:
# dropping unecessary features
base_de_dados = livros_avaliacoes.drop(labels=['ISBN', 'Book-Author'], axis=1)
base_de_dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 540799 entries, 0 to 540798
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Book-Title   540799 non-null  object
 1   User-ID      540799 non-null  int64
 2   Book-Rating  540799 non-null  int64
dtypes: int64(2), object(1)
memory usage: 16.5+ MB

In [14]:
base_de_dados.head()

     Book-Title  User-ID  Book-Rating
0  Clara Callan    11676            8
1  Clara Callan    85526            0
2  Clara Callan    96054            0
3  Clara Callan   177458            0
4  Clara Callan   263325            6

This way we can link the User-ID of each user as the table index, the books as features and the rankings as the values.

In [15]:
df_recomendacao = pd.pivot_table(data=base_de_dados, index='User-ID', columns='Book-Title', values='Book-Rating').fillna(0)
df_recomendacao

Book-Title,"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",Always Have Popsicles,Apple Magic (The Collector's series),Beyond IBM: Leadership Marketing and Finance for the 1990s,Clifford Visita El Hospital (Clifford El Gran Perro Colorado),Dark Justice,Deceived,"Earth Prayers From around the World: 365 Prayers, Poems, and Invocations for Honoring the Earth",Final Fantasy Anthology: Official Strategy Guide (Brady Games),Flight of Fancy: American Heiresses (Zebra Ballad Romance),...,"Ã?ber den Wunsch, sich wohlzufÃ¼hlen: Geschichten",Ã?coute ma diffÃ©rence (Le Temps des femmes),Ã?ngeles fugaces (Falling Angels),Ã?Â?. Kolumnen.,Ã?Â?ber das Fernsehen.,Ã?Â?ber die Pflicht zum Ungehorsam gegen den Staat.,Ã?Â?lpiraten.,Ã?Â?rger mit Produkt X. Roman.,Ã?Â?stlich der Berge.,Ã?Â?thique en toc
User-ID,,,,,,,,,,,,,,,,,,,,,
254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1733,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277478,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Machine Learning

In [16]:
# k-nearest neighbors
knn_model_user = NearestNeighbors(metric='cosine')

# fitting the model to dataset
knn_model_user.fit(df_recomendacao)

NearestNeighbors(metric='cosine')

In [17]:
import random

# random choice of the user by index
i_user = random.randint(0,len(df_recomendacao))

# getting the users similarity and their index
dist, i_similar_user = knn_model_user.kneighbors(df_recomendacao.iloc[i_user].values.reshape(1,-1), n_neighbors=6)

# getting the user ID
user = df_recomendacao.index[i_user]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  "X does not have valid feature names, but"

In [18]:
# looking the similar users and each similarity
for i in range(0,len(dist.flatten())):
  if i == 0:
    print(f'USUARIO: {user}\n\n')
  else:
    print(f'similar{i}:{df_recomendacao.index[i_similar_user.flatten()[i]]}, dist: {dist.flatten()[i]}')

USUARIO: 15418


similar1:52350, dist: 0.8233996422801063
similar2:76626, dist: 0.9416813756942672
similar3:167349, dist: 0.9502860519335864
similar4:39467, dist: 0.9615849007408825
similar5:177432, dist: 0.9670817512555112

As the model used is the k-nearest neighbors based on cosine distance. The lowest value of 'dist' displays the closer similarity

In [19]:
# similar-user ID
similar_user = df_recomendacao.index[i_similar_user.flatten()[1]]

In [20]:
# creating user and similar-user dataframes
df_user = df_recomendacao.loc[user].to_frame()
df_similar_user = df_recomendacao.loc[similar_user].to_frame()

In [21]:
# merging the dataframes
df_livros = pd.merge(df_user, df_similar_user, on='Book-Title').sort_values(by=similar_user, ascending=False)
df_livros

                                                    15418  52350
Book-Title
Sin City: Booze, Broads, &amp; Bullets                0.0   10.0
Tintin in Tibet (The Adventures of Tintin)           10.0   10.0
The Epic Conspiracy (The Incal, Book 3)               0.0   10.0
Sin City: That Yellow Bastard (Sin City Series ...    0.0   10.0
Sin City                                              0.0   10.0
...                                                   ...    ...
Heart of the Family Circus                            0.0    0.0
Heart of the Flame                                    0.0    0.0
Heart of the Hawk                                     0.0    0.0
Heart of the Hero                                     0.0    0.0
Ã?Â?thique en toc                                     0.0    0.0

[170375 rows x 2 columns]

## Recommending to an user

Set a business rule is necessary to make it because we couldn't recommend a book that the user already read. Besides it, the similar-user need to rank the book with a rate at least 7 to recommend it to the user

In [22]:
# Setting business rule
df_livros = df_livros[(df_livros[similar_user]>=7) & (df_livros[user]==0)].reset_index()
df_livros

                                           Book-Title  15418  52350
0              Sin City: Booze, Broads, &amp; Bullets    0.0   10.0
1             The Epic Conspiracy (The Incal, Book 3)    0.0   10.0
2   Sin City: That Yellow Bastard (Sin City Series...    0.0   10.0
3                                            Sin City    0.0   10.0
4                                 Elektra Lives Again    0.0   10.0
..                                                ...    ...    ...
84  The Unbearable Lightness of Being : A Novel (P...    0.0    7.0
85  Preacher: Until the End of the World (Preacher...    0.0    7.0
86  Faster Than the Speed of Light: The Story of a...    0.0    7.0
87                  The Mabinogion (Penguin Classics)    0.0    7.0
88                The Metamorphosis (Bantam Classics)    0.0    7.0

[89 rows x 3 columns]

In [23]:
# now the dictionary is showing the recommended books to the random user based on his most similar user
books = list(df_livros['Book-Title'][:3])
notas = list(df_livros[similar_user][:3])

recomendar = {'Livro':books,
              'avaliações': notas}
recomendar

{'Livro': ['Sin City: Booze, Broads, &amp; Bullets',
  'The Epic Conspiracy (The Incal, Book 3)',
  'Sin City: That Yellow Bastard (Sin City Series , No 4)'],
 'avaliações': [10.0, 10.0, 10.0]}

# PRODUCT SIMILARITY BASED RECOMMENDER

Development of a user-based machine learning to recommend books that user still don't read but users with similar caracteres already read and liked them.

The used datasets are abled to download on [link](http://www2.informatik.uni-freiburg.de/~cziegler/BX/)

In [24]:
df_recomendacao_books = pd.pivot_table(data=base_de_dados, index='Book-Title', columns='User-ID', values='Book-Rating').fillna(0)
df_recomendacao_books

User-ID,254,1733,1903,2033,2110,2276,2766,2891,2977,3363,...,274808,275414,275970,276018,276680,277427,277478,277639,278188,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Always Have Popsicles,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Apple Magic (The Collector's series),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Beyond IBM: Leadership Marketing and Finance for the 1990s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Clifford Visita El Hospital (Clifford El Gran Perro Colorado),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ã?Â?ber die Pflicht zum Ungehorsam gegen den Staat.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ã?Â?lpiraten.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ã?Â?rger mit Produkt X. Roman.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ã?Â?stlich der Berge.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ã?Â?thique en toc,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
# k-nearest neighbors
knn_model_book = NearestNeighbors(metric='cosine')

# fitting the model to dataset
knn_model_book.fit(df_recomendacao_books)

NearestNeighbors(metric='cosine')

In [93]:
import random

# random choice of the user by index
#i_book = random.randint(0,len(df_recomendacao_books))
i_book = 13849

# getting the users similarity and their index
dist, i_similar_book = knn_model_book.kneighbors(df_recomendacao_books.iloc[i_book].values.reshape(1,-1), n_neighbors=3)

# getting the user ID
book = df_recomendacao_books.index[i_book]

In [94]:
# looking the similar books and each similarity
for i in range(0,len(dist.flatten())):
  if i == 0:
    print(f'LIVRO: {book}\n\n')
  else:
    print(f'similar{i}:{df_recomendacao_books.index[i_similar_book.flatten()[i]]}, dist: {dist.flatten()[i]}')

LIVRO: Back on Track: How to Straighten Out Your Life When It Throws You a Curve


similar1: Always Have Popsicles, dist: 1.0
similar2: Apple Magic (The Collector's series), dist: 1.0

In [95]:
# similar-books ID
similar_book = df_recomendacao_books.index[i_similar_book.flatten()[1]]

In [96]:
# creating user and similar-user dataframes
df_book = df_recomendacao_books.loc[book].to_frame()
df_similar_book = df_recomendacao_books.loc[similar_book].to_frame()

In [97]:
# merging the dataframes
df_books = pd.merge(df_book, df_similar_book, on='User-ID').sort_values(by=similar_book, ascending=False)
df_books

,Back on Track: How to Straighten Out Your Life When It Throws You a Curve,Always Have Popsicles
User-ID,,
254,0.0,0.0
183287,0.0,0.0
185233,0.0,0.0
185176,0.0,0.0
184513,0.0,0.0
...,...,...
96771,0.0,0.0
96554,0.0,0.0
96448,0.0,0.0
96054,0.0,0.0
278418,0.0,0.0

In [98]:
# Setting business rule
df_books = df_books[(df_books[similar_book]>=7) & (df_books[book]==0)].reset_index()
df_books

Empty DataFrame
Columns: [User-ID, Back on Track: How to Straighten Out Your Life When It Throws You a Curve,  Always Have Popsicles]
Index: []

In [99]:
# now the dictionary is showing the recommended books to the random user based on his most similar user
books = list(df_livros['Book-Title'][:3])
notas = list(df_livros[similar_user][:3])

recomendar = {'Livro':books,
              'avaliações': notas}
recomendar

{'Livro': ['Sin City: Booze, Broads, &amp; Bullets',
  'The Epic Conspiracy (The Incal, Book 3)',
  'Sin City: That Yellow Bastard (Sin City Series , No 4)'],
 'avaliações': [10.0, 10.0, 10.0]}